<ion-split-pane contentId="main">
  <!--  the side menu  -->
  <ion-menu contentId="main" side="start">
    <app-pokemon-menu1 (pokemonId)="getPokemonIdFromList1($event)"
                         (pokemonName)="getPokemonNameFromLIst1($event)" ></app-pokemon-menu1>
  </ion-menu>

  <ion-menu contentId="main" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu1</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-pokemon-menu2 (pokemonId)="getPokemonIdFromList2($event)"
                         (pokemonName)="getPokemonNameFromLIst2($event)"></app-pokemon-menu2>
    </ion-content>
  </ion-menu>

  <!-- the main content -->

  <ion-content id="main">
    <app-home ></app-home>

  </ion-content>

</ion-split-pane>

