<ion-header [translucent]="true">

  <ion-toolbar>


<!--    <ion-grid>-->
<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-img src="../../assets/icon/Shield.png" style="width:50px; height:50px;"></ion-img>-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--          <ion-title>-->
<!--                  PoGo ShielIT-->
<!--                </ion-title>-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--      <ion-buttons slot="end">-->
<!--        <ion-button class="ion-text-end" style="grid-row-end:auto " (click)="toggleHelp()">-->
<!--                <ion-icon name="help-circle-outline"></ion-icon>-->
<!--              </ion-button>-->
<!--      </ion-buttons>-->
<!--        </ion-col>-->
<!--      </ion-row>-->

<!--    </ion-grid>-->


          <ion-img slot="start" src="../../assets/icon/Shield.png" style="width:50px; height:50px;"></ion-img>

          <ion-title slot="start">
            PoGo ShieldiT
          </ion-title>

          <ion-buttons slot="end">
            <ion-button class="ion-text-end" style="grid-row-end:auto " (click)="toggleHelp()"> HELP
              <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>






    <!--  <ion-img src="../../assets/icon/Shield.png" style="width:100px; height:100px;"></ion-img>-->




<!--    <ion-title>-->
<!--      PoGo ShielIT-->
<!--    </ion-title>-->
<!--    <ion-button style="float: right" (click)="toggleHelp()"> HELP-->
<!--      <ion-icon name="help-circle-outline"></ion-icon>-->
<!--    </ion-button>-->
  </ion-toolbar>
</ion-header>


<!------------------------------------------------------------------------------------------------------- -->

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row *ngIf="this.helpState">
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-text color="secondary">
             <h1>What is this app?</h1>
              </ion-text>
              <p>This app was created to help Pokemon Go players with the damage dealt by theirs and opponent pokemons in PvP battles, with information about life loss and when to use the shield defence option.</p>
              <h1>How to use it?</h1>
           <p>First you select the League that matches the type that you want to see. Second you select your pokemon using the menu on the LEFT or by pressing the "Choose your pokemon" button if your on a mobile application/view.Third you select your opponent pokemon on the RIGHT side menu. For the last, you click on the FIGHT button, and then the damage is calculated. You can choose between your pokemon damage and your opponent</p>
              <h1>When to use it?</h1>
           <p>This app works really well after you had chosen your team using PVPPOKE. You can select your pokemon that is in your team,and a range of pokemons that you think you will enconter the most, then you can see what abilities you can take without using your shield.
           You can use this too, when playing in real time PvP battles, if your fast enough selecting yours and your opponent pokemons.</p>
              <h1>Why this app was created?</h1>
             <p>I created this app, because when i was PvPing, i felt the necessity to have one fast way to know all the abilities that my opponent could have and what damage they do. PVPPoke have this option too, but is alot "harder" to get there, so i created one simple way to see what i needed</p>
            </ion-card-content> </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item >
          <ion-label>League</ion-label>
          <ion-select interface="teste400" [(ngModel)]=teste400 (ionChange)="changeLeague(teste400)">
            <ion-select-option value="GlTop30">GL Top 30</ion-select-option>
            <ion-select-option value="GlAllPokemon">GL All Pokemon</ion-select-option>
            <ion-select-option value="UlTop30">UL Top 30</ion-select-option>
            <ion-select-option value="UlAllPokemon">UL All Pokemon</ion-select-option>
            <ion-select-option value="MlTop30">ML Top 30</ion-select-option>
            <ion-select-option value="MLAllPokemon">ML All Pokemon</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="width: 100%; height: 100%">
        <ion-menu-button  menu="start" > Choose your Pokemon </ion-menu-button>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%">
        <ion-menu-button menu="end" >Choose your opponent</ion-menu-button>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <p style="font-size: 20px">{{pokemon1Selected}}</p>
        </div>
      </ion-col>
      <ion-col size="2">
      </ion-col>
      <ion-col>
        <div class="ion-text-center" >
          <p style="font-size: 20px">{{pokemon2Selected}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="background" *ngIf="pokemon1Selected || pokemon2Selected">
      <ion-col>
        <ion-img src='../../assets/PokemonImages/{{pokemon1Selected}}.png'></ion-img>
      </ion-col>
      <ion-col>
          <ion-img class="VsImage" style="width: 80px; height: 80px;" src="../../assets/versus-logo-vs-letras-para-esportes-e-competicao-de-luta_100456-149.png" style="align-items: center"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src='../../assets/PokemonImages/{{pokemon2Selected}}.png'></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="calculate()" expand="block" color="warning">FIGHT!</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <mat-tab-group color= "primary"  backgroundColor="primary" headerPosition="below" mat-align-tabs="center">
        <mat-tab label="Oponent Damage" >
          <div *ngIf="this.pokemon1WasSelected && this.pokemon2WasSelected && this.leagueSelected && this.lifeCreated">
            <div *ngFor="let eachMove of this.leaguePokemon[this.pokemonNumber2].moves;let i=index">
              <ion-row>
                <ion-col><p>{{eachMove}}</p></ion-col>
                <ion-col size="3"><p> HP: {{this.pokemonHPShow[i]}}</p></ion-col>
                <ion-col><p> Move Damage: {{this.allMovesDamageArray[i]}}</p></ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-progress-bar  [value]="pokemonHPbyMoveArray[i]"></ion-progress-bar>
                </ion-col>
                <ion-col  id="teste1" size="3">
                  <div>
                    <p [ngClass]="{'green-class': this.tankItAwnserArray[i] === 'YES!', 'orange-class': this.tankItAwnserArray[i] === 'Optional', 'red-class': this.tankItAwnserArray[i] === 'NO!' }"> {{this.tankItAwnserArray[i]}} </p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Your Damage"> Content 2 </mat-tab>
      </mat-tab-group>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button style="width: 100%; height: 100%; height: 48px;font-size: 20px" href="https://paypal.me/FabioHeitor?locale.x=pt_PT">
          <ion-img src="../../assets/icon/paypal.png" style="width: 20px; height: 20px"></ion-img> Donate
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button style="width: 100%; height: 100%; height: 48px; font-size: 20px" href="https://www.patreon.com/Fabio_Heitor100?fan_landing=true">
          <ion-img src="../../assets/icon/patreon.png" style="width: 20px; height: 20px"></ion-img> Patreon
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button style="width: 100%; height: 100%; height: 48px ;font-size: 20px" href="https://pvpoke.com/">
          <ion-img src="../../assets/icon/pvppoke.png" style="width: 20px; height: 20px"></ion-img> PvP Poke
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-card>
          <ion-card-content>

            <ion-text style="text-align: center">
             <p> Pokémon and Pokémon GO are copyright of The Pokémon Company, Niantic, Inc., and Nintendo. All trademarked images and names are property of their respective owners, and any such material is used on this site for educational purposes only.</p>
            </ion-text>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>


    </ion-row>
  </ion-grid>
</ion-content>







